<header id="m-hero" class="m-hero">
<ul class="stars">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
  <div class="l-wrap">
    <div class="m-hero__header">
      <img src="<%= image_path("illuminate.png") %>">
      <h4>The 2014 American University Design Show</h4>
    </div>
  </div>
</header>

<!-- <nav class="m-nav grid">
  <div class="m-two"><a href="#m-hero">AU Design Show</a></div>
  <div class="m-two">
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#work">Work</a></li>
      <li><a href="#judges">Judges</a></li>
    </ul>
  </div>
</nav> -->

<span class="rule"></span>

<section id="about" class="m-about">
    <h2>About the Show</h2>
    
 <div class="l-wrap grid">
    <div class="m-three">
      <h3 class="m-about__name">What</h3>
     <p class="m-about__info">The 2014 AU Design Show is an exhibition of student work from American University’s Graphic Design Department. Any student who has taken a design class can submit. Three DC design professionals then rate and vote on which work moves into the final exhibit.</p>
    </div>
    <div class="m-three">
      <h3 class="m-about__name">When</h3>
      <p class="exhibit">Exhibition:</p>
      <p class="m-about__date">March 31st &ndash; April 11th</p>
      <p>Reception:</p>
      <p class="m-about__date">April 9th at 6:30pm</p>

    </div>
    <div class="m-three">
      <h3 class="m-about__name">Where</h3>
      <p class="m-about__info location">Katzen Art Center Rotunda <br> 4400 Massachusetts Ave, NW <br> Washington, DC 20016</p>
    </div>       
  </div>
  </div>
      <a class="button" href="https://nvite.com/audesignshow/2014">RSVP to the Reception</a>

</section>

<span class="rule"></span>


<section id="work" class="m-work">
  <h2>The Work</h2>

  <h3>Foundation</h3>
  <div class="l-wrap grid">

  <div class="m-five">
    <a href="advocacy.html"><img class="circle" src="<%= image_path('packard_advocacy_thumb.jpg') %>">
    </a>
  </div>
  <div class="m-five">
    <a href="typeface.html"><img class="circle" src="<%= image_path('thom_typeface_thumb.jpg') %>">
    </a>
  </div>
  <div class="m-five">
    <a href="dontblowit.html"><img class="circle" src="<%= image_path('smith_dontblowit_thumb.jpg') %>">
    </a>
  </div>

    <div class="m-five">
    <a href="typeastext.html"><img class="circle" src="<%= image_path('thom_typeastext_thumb.jpg') %>">
    </a>
  </div>

  </div>

  <h3>Identity</h3>
  <div class="l-wrap grid">
  <div class="m-five">
      <a href="plaza.html"><img class="circle" src="<%= image_path('levine_plaza_thumb.jpg') %>">
      </a>
  </div>

  <div class="m-five">
    <a href="boroughs.html"><img class="circle" src="<%= image_path('moore_boroughs_thumb.jpg') %>">
    </a>
  </div>

  <div class="m-five">
      <a href="edible.html"><img class="circle" src="<%= image_path('kravets_edible_thumb.jpg') %>">
      </a>
  </div>

  <div class="m-five">
      <a href="megabus.html"><img class="circle" src="<%= image_path('palanzi_megabus_thumb.png') %>">
      </a>
  </div>

  <div class="m-five">
      <a href="lush.html"><img class="circle" src="<%= image_path('thomas_lush_thumb.jpg') %>">
      </a>
  </div>


  <div class="m-five">
      <a href="sw.html"><img class="circle" src="<%= image_path('mahan_sw_thumb.jpg') %>">
      </a>
  </div>

  <div class="m-five">
      <a href="oldnavy.html"><img class="circle" src="<%= image_path('gillette_on_thumb.jpg') %>">
      </a>
  </div>
    <div class="m-five">
      <a href="dogfishhead.html"><img class="circle" src="<%= image_path('zisser_dogfish_thumb.jpg') %>">
      </a>
  </div>
  </div>



  <h3>Print</h3>
  <div class="l-wrap grid">

  <div class="m-five">
    <a href="bookjacket.html"><img class="circle" src="<%= image_path('levine_bookjacket_thumb.jpg') %>">
    </a>
  </div>

  <div class="m-five">
    <a href="artallnight.html"><img class="circle" src="<%= image_path('palanzi_artallnight_thumb.jpg') %>">
    </a>
  </div>

    <div class="m-five">
    <a href="grisham.html"><img class="circle" src="<%= image_path('mahan_grisham_thumb.jpg') %>">
    </a>
  </div>

  <div class="m-five">
      <a href="amsterdam.html"><img class="circle" src="<%= image_path('thomas_amsterdam_thumb.jpg') %>">
      </a>
  </div>

  <div class="m-five">
    <a href="hp.html"><img class="circle" src="<%= image_path('kravets_hp_thumb.jpg') %>">
    </a>
  </div>

  <div class="m-five">
    <a href="gardenmarket.html"><img class="circle" src="<%= image_path('vanbemmel_event_thumbnail.jpg') %>">
    </a>
  </div>

  <div class="m-five">
      <a href="littlehouse.html"><img class="circle" src="<%= image_path('palanzi_littlehouse_thumb.jpg') %>">
      </a>
  </div>

    <div class="m-five">
      <a href="anima.html"><img class="circle" src="<%= image_path('keobounp_animafilm_thumb.jpg') %>">
      </a>
  </div>

  <div class="m-five">
    <a href="citymagazine.html"><img class="circle" src="<%= image_path('zucker_city_thumb.jpg') %>">
    </a>
  </div>

  <div class="m-five">
    <a href="missoni.html"><img class="circle" src="<%= image_path('beard_missoni_thumb.jpg') %>">
    </a>
  </div>

  <div class="m-five">
      <a href="ebooks.html"><img class="circle" src="<%= image_path('levine_ebooks_thumb.jpg') %>">
      </a>
  </div>

  <div class="m-five">
      <a href="neat.html"><img class="circle" src="<%= image_path('vanbemmel_babyfood_thumbnail.jpg') %>">
      </a>
  </div>

  <div class="m-five">
      <a href="janeausten.html"><img class="circle" src="<%= image_path('thomas_bookjacket_thumb.jpg') %>">
      </a>
  </div>

  <div class="m-five">
    <a href="texas.html"><img class="circle" src="<%= image_path('logan_texas_thumb.jpg') %>">
    </a>
  </div>
  <div class="m-five">
    <a href="bookset.html"><img class="circle" src="<%= image_path('s_bookset_thumb.jpg') %>">
    </a>
  </div>

  <div class="m-five">
    <a href="artistech.html"><img class="circle" src="<%= image_path('kravets_artistech_thumb.jpg') %>">
    </a>
  </div>


  <div class="m-five">
    <a href="muppets.html"><img class="circle" src="<%= image_path('beard_muppets_thumb.jpg') %>">
    </a>
  </div>

  <div class="m-five">
      <a href="pollan.html"><img class="circle" src="<%= image_path('gillette_pollan_thumb.jpg') %>">
      </a>
  </div>

  <div class="m-five">
      <a href="dscdc.html"><img class="circle" src="<%= image_path('kravets_dc_thumb.jpg') %>">
      </a>
  </div>

  </div>

  <h3>Interactive</h3>
  <div class="l-wrap grid">
     <div class="m-five">
      <a href="offbeat.html"><img class="circle" src="<%= image_path('palanzi_offbeat_thumb.jpg') %>">
      </a>
    </div>

     <div class="m-five">
      <a href="team.html"><img class="circle" src="<%= image_path('walter_team_thumb.jpg') %>">
      </a>
    </div>

     <div class="m-five">
      <a href="bakedwired.html"><img class="circle" src="<%= image_path('seaton_project_thumb.jpg') %>">
      </a>
    </div>


    <div class="m-five">
      <a href="naked.html"><img class="circle" src="<%= image_path('keane_naked_thumb.jpg') %>">
      </a>
    </div>

    <div class="m-five">
        <a href="paintup.html"><img class="circle" src="<%= image_path('mahan_paintup_thumb.jpg') %>">
        </a>
    </div>

    <div class="m-five">
        <a href="muse.html"><img class="circle" src="<%= image_path('palanzi_muse_thumb.jpg') %>">
        </a>
    </div>

     <div class="m-five">
      <a href="baking.html"><img class="circle" src="<%= image_path('walter_baking_thumb.jpg') %>">
      </a>
    </div>

    <div class="m-five">
        <a href="syllabus1.html"><img class="circle" src="<%= image_path('materna_thumb.jpg') %>">
        </a>
    </div>

    <div class="m-five">
        <a href="af.html"><img class="circle" src="<%= image_path('beard_af_thumb.jpg') %>">
        </a>
    </div>

    <div class="m-five">
        <a href="syllabus2.html"><img class="circle" src="<%= image_path('nicole_syllabus_thumb.jpg') %>">
        </a>
    </div>

    <div class="m-five">
        <a href="straight.html"><img class="circle" src="<%= image_path('vanbemmel_responsivesite_thumbnail.jpg') %>">
        </a>
    </div>

    <div class="m-five">
        <a href="karmmunity.html"><img class="circle" src="<%= image_path('brown_karmmunity_thumb.jpg') %>">
        </a>
    </div>

    <div class="m-five">
        <a href="barcar.html"><img class="circle" src="<%= image_path('zisser_barcar_thumbnail.jpg') %>">
        </a>
    </div>

    <div class="m-five">
        <a href="fruitstory.html"><img class="circle" src="<%= image_path('kravets_fruitstory_thumb.jpg') %>">
        </a>
    </div>

   <div class="m-five">
        <a href="support.html"><img class="circle" src="<%= image_path('vanbemmel_eventsite_thumbnail.jpg') %>">
        </a>
    </div>

   <div class="m-five">
        <a href="fannotate.html"><img class="circle" src="<%= image_path('kravets_fannotate_thumb.jpg') %>">
        </a>
    </div>

   <div class="m-five">
        <a href="syllabus3.html"><img class="circle" src="<%= image_path('walter_syllabus_thumb.jpg') %>">
        </a>
    </div>
  </div>

  <h3>Motion</h3>
  <div class="l-wrap grid">
    <div class="m-five">
        <a href="bee.html"><img class="circle" src="<%= image_path('keane_bee_thumb.jpg') %>">
        </a>
    </div>

    <div class="m-five">
        <a href="smile.html"><img class="circle" src="<%= image_path('gillette_smile_thumb.jpg') %>">
        </a>
    </div>

  <div class="m-five">
      <a href="partyrock.html"><img class="circle" src="<%= image_path('zisser_partyrock_thumbnail.jpg') %>">
      </a>
  </div>

  <div class="m-five">
      <a href="gollum.html"><img class="circle" src="<%= image_path('mahan_gollum_thumb.jpg') %>">
      </a>
  </div>

  </div>
</section>

<span class="rule"></span>


<section id="judges" class="m-judges">
  <h2>The Judges</h2>
  <div class="l-wrap grid">
    <div class="m-three">
      <a href="https://twitter.com/rosscott" target="_blank"><img class="circle" src="<%= image_path("ross.jpg") %>"></a><br>
      <h3 class="m-judges__name">Ross Nover</h3>
      <p class="m-judges__info">Ross is a former American University Professor of Graphic Design, as well as an experienced and award-winning interactive designer, illustrator, and webcomic artist. Ross has a Bachelor of Arts in Graphic Design from American University, and has worked with a wide variety of businesses and organizations over the past ten years.</p>
    </div>
    <div class="m-three">
      <a href="https://twitter.com/grafxnerd" target="_blank"><img class="circle" src="<%= image_path("laura.jpg") %>"></a><br>
      <h3 class="m-judges__name">Laura McGuigan</h3>
      <p class="m-judges__info">Laura is the VP of Design at TrackMaven, a DC Startup focused on creating the best analytics platform for digital marketers. When she’s not designing and managing the experience and brand for TrackMaven, she enjoys riding her motorcycle or painting increasingly large canvases.</p>
    </div>
    <div class="m-three">
      <a href="https://twitter.com/attasi" target="_blank"><img class="circle" src="<%= image_path("tom.jpg") %>"></a><br>
      <h3 class="m-judges__name">Tom Giannattasio</h3>
      <p class="m-judges__info">Tom is the founder of Macaw – a company building applications for web designers and developers. He's designed and developed web-based solutions for Apple, Oracle, MIT, AIGA, National Geographic and more. Tom is an editor at Smashing Magazine and has authored numerous articles and ebooks on various web design topics.</p>
    </div>       
  </div>
</section>

<%= partial "partials/footer" %>
